{{define "footer"}}
<p id="copyright"><a href="https://github.com/pgorman/troublegarden">Trouble Garden</a> copyright (c) 2017, <a href="https://paulgorman.org">Paul Gorman</a>. Licensed under the <a href="https://opensource.org/licenses/BSD-2-Clause">simplified BSD license</a>.</p>
</body>
</html>
{{end}}
